<p>
  <li class="list-group-item">

    <mat-card class="example-card">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <mat-card-title>Title : {{ eventTitle }}</mat-card-title>
        <mat-card-subtitle>Date : {{ eventDate }} - Place : {{ eventPlace }}</mat-card-subtitle>
        <p>{{getStatus()}}</p>
      <mat-card-actions>
          <button mat-icon-button [disabled]="!isAuth">
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
      </mat-card-actions>
    </mat-card-content>
    </mat-card>

  </li>
</p>
